# Laravel build ignores
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Environment and configs
.env
.env.*
!.env.example
Homestead.json
Homestead.yaml
auth.json

# IDEs and editors
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# Tests and cache
/.phpunit.cache
.phpunit.result.cache

# Logs
npm-debug.log
yarn-error.log

# Docker specific ignores
.git
docker-compose.override.yml
bootstrap/cache/*
Dockerfile
**/.gitignore
**/.gitattributes

# Caches
bootstrap/cache/**

# Storages
storage/app/private/**
storage/app/public/**
storage/app/debugbar/**
storage/logs/**

# Framework
storage/framework/compiled.php
storage/framework/config.php
storage/framework/down
storage/framework/events.scanned.php
storage/framework/maintenance.php
storage/framework/routes.php
storage/framework/routes.scanned.php
storage/framework/schedule-*
storage/framework/services.json
###
storage/framework/cache/**
!storage/framework/cache/data
storage/framework/cache/data/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**