@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font/dist/font-face.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: 'Open Sans', sans-serif;
    }

    html[lang=fa] body {
        font-family: 'Vazir', sans-serif;
    }

    .header-section {
        background-color: #6b46c1;
        /* Header section color */
    }

    section,
    nav,
    header {
        @apply rounded-xl;
    }

    a {
        @apply no-underline transition-colors duration-200 hover:text-[#4a90e2];
    }

    .nav-link {
        @apply p-2 transition-colors duration-200 hover:bg-[#8f6fff] hover:text-[#f7fafc] hover:rounded;
    }

    .btn {
        @apply bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none hover:bg-[#5a3e96];
    }

    .btn i {
        margin-right: 0.5rem;
    }

    .input {
        @apply w-full p-3 border border-solid border-[#ccc] rounded transition-colors duration-200 focus:border-[#6b46c1] focus:outline-none;
    }

    .input-minimal {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
    }

    .contact-info {
        @apply rounded shadow shadow-sm;
    }

    .contact-info p {
        @apply mb-2;
    }

    /* 
    .contact-info a {
        @apply block text-[#6b46c1] mb-2;
    } */

    .scale-on-hover {
        @apply transition-transform duration-200 hover:transform hover:scale-[95%];
    }

    .container {
        @apply mx-auto;
    }
}