@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font/dist/font-face.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: 'Open Sans', sans-serif;
        @apply accent-[#6b46c1];
    }

    html[lang=fa] body {
        font-family: 'Vazir', sans-serif;
    }

    .header-section {
        background-color: #6b46c1;
        /* Header section color */
    }

    section,
    nav,
    header {
        @apply rounded-xl;
    }

    a.link {
        @apply underline text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-gray-800;
    }

    .contact-info {
        @apply rounded shadow shadow-sm;
    }

    .contact-info p {
        @apply mb-2;
    }

    /* 
    .contact-info a {
        @apply block text-[#6b46c1] mb-2;
    } */

    .scale-on-hover {
        @apply transition-transform duration-200 hover:transform hover:scale-[95%];
    }

    .container {
        @apply mx-auto;
    }
}