@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font/dist/font-face.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
@import url(https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiColor.css);

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
    body {
        font-family: Figtree, "Fluent Emoji Color", "Vazir", ui-sans-serif,
            system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji" !important;
    }

    :root {
        --primary-50: 250, 245, 255;
        --primary-100: 243, 232, 255;
        --primary-200: 233, 213, 255;
        --primary-300: 216, 180, 254;
        --primary-400: 192, 132, 252;
        --primary-500: 168, 85, 247;
        --primary-600: 147, 51, 234;
        --primary-700: 126, 34, 206;
        --primary-800: 107, 33, 168;
        --primary-900: 88, 28, 135;
        --primary-950: 59, 7, 100;

        @apply accent-[#6b46c1];
    }

    [dir="rtl"] {
        direction: rtl;
    }

    [dir="rtl"] * {
        --tw-space-x-reverse: 1 !important;
    }

    /** Landing */
    .header-section {
        @apply bg-purple-500;
        /* Header section color */
    }

    section,
    nav,
    header {
        @apply rounded-xl mb-2 mx-auto container;
    }

    .link {
        @apply underline text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-gray-800;
    }

    .contact-info {
        @apply rounded shadow shadow-sm;
    }

    .contact-info p {
        @apply mb-2;
    }

    /* 
    .contact-info a {
        @apply block text-[#6b46c1] mb-2;
    } */

    .scale-on-hover {
        @apply transition-transform duration-200 hover:transform hover:scale-[95%];
    }

    /** Utilities */
    .container {
        @apply mx-auto;
    }

    input,
    optgroup,
    select,
    textarea {
        @apply p-2 outline-none;
    }

    /** button group */

    .btn-group {
        display: flex;
        align-items: stretch;
    }

    .btn-group > * {
        margin-inline-end: -1px;
        min-height: 100%;
    }

    .btn-group > :not(:last-child),
    .btn-group > :not(:last-child, .btn-group) * {
        border-start-end-radius: 0 !important;
        border-end-end-radius: 0 !important;
    }

    .btn-group > :not(:first-child),
    .btn-group > :not(:first-child, .btn-group) * {
        border-start-start-radius: 0 !important;
        border-end-start-radius: 0 !important;
    }

    /** Gradient Scroll Bar */

    /* width, height */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #1f2937;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(
            rgb(186, 85, 211),
            rgb(147, 112, 219),
            rgb(138, 43, 226)
        );
        border-radius: 100vh;
    }

    /** Purple Selection */
    *::selection {
        background-color: rgb(186, 85, 211);
        color: white;
    }

    .clip-path-arrow {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        width: 8px;
        height: 8px;
        background: inherit;
    }
}
